# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence
*   @sosey

/notebooks/ @drlaw1558  @rizeladiaz

# Order is important; the last matching pattern takes the most
# precedence.
/notebooks/MIRI/   @skendrew  @drlaw1558
/notebooks/NIRISS/Imaging/   @spacetelescope/niriss  @drlaw1558
/NIRSPEC/Slit/   @spacetelescope/nirspec  @drlaw1558
/NIRCAM/Imaging/   @spacetelescope/nircam  @drlaw1558
