# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence
*   @sosey

/notebooks/ @drlaw1558  @rizeladiaz

# Order is important; the last matching pattern takes the most
# precedence.
/notebooks/MIRI/Coronagraphy/   @brynickson  @skendrew  @drlaw1558
/notebooks/MIRI/Imaging-TSO/   @ianyuwong  @skendrew  @drlaw1558
/notebooks/MIRI/Imaging/   @cracraft  @skendrew  @drlaw1558
/notebooks/MIRI/LRS-slit/   @ianyuwong  @skendrew  @drlaw1558
/notebooks/MIRI/LRS-slitless-TSO/   @ianyuwong  @skendrew  @drlaw1558
/notebooks/MIRI/MRS/   @kilarson  @skendrew  @drlaw1558
/notebooks/NIRISS/Imaging/   @spacetelescope/niriss  @drlaw1558
/notebooks/NIRSPEC/Slit/   @spacetelescope/nirspec  @drlaw1558
/notebooks/NIRCAM/Imaging/   @aliciacanipe  @bhilbert4  @bsunnquist  @drlaw1558
/notebooks/NIRCAM/Coronagraphy/   @aliciacanipe  @bhilbert4  @bsunnquist  @drlaw1558
